body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(11, 11, 11, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
}

.sidenav a {
    padding-left: 18px;
    text-decoration: none;
    font-size: 25px;
    color: #BDBDBD;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #fff;
    background-color: rgba(00, 95, 255, 0.9);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    width: 65px;
    font-size: 36px;
    margin-left: 25px;
}

@media screen and (max-height: 250px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 16px;}
}

#topAlert {
    display: inline;
    height: 140px;
    width: 100%;
    color: #000;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgba(215, 186, 125, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    padding: 10px;
}